.btn {
    background-color:#175fdb;
    border: 1px solid #175fdb;
    border-radius: 3px;
    margin-left: 30%;
    padding: 8px;
    color:white;
}

.input{
    margin-left: 20%;
    text-align: left;
    color: #175fdb;
}


.label{
    font-size: 13px;
    font-weight: bold;
}

.button{
    margin-top: 20px;    
}

.icon{
    margin-left: 90%;
    background: white;
    border: none;
}

.error{
    color: red;
    font-size: 14px;
    margin-left: 15%;
}