div.regWrapper{
    align-self: center;
    grid-row-gap: 20px;
    display: grid;
    max-width: 10rem;
    margin: 5rem auto;
}

input {
    border-width: 0 0 2px;
    padding: 10px;
}

h2 {
    text-align: center;
    color: #175fdb
}

.btn{
    margin-left: 15%;
    background-color:#175fdb;
    border: 1px solid #175fdb;
    border-radius: 3px;
    padding: 8px;
    color:white;
    width: 70%;
}

    
.search{
    background-color: #e8e9eb;
    padding: 80px;

}



.searchBar{
    margin: auto;
    display: flex;
    width: 70%;
    border: 3px solid lightgray;
}

.test{
    padding: 15px;
    width:25%;
}

.blueTxt{
    color: #175fdb;
}

.text{
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
}

.text#rememberMe{
    font-size: smaller;
}

.grayTxt{
    color:#b8bcc2;
}

#blueTest{
    background-color: #175fdb;
    color: white;
}

.header {
    padding: 30px;
    text-align: center;
    background: #175fdb;
    color: white;
  }

.buttons{
    width: 15rem;
    margin-left: 80%
}

.btnAUTH{
    border: none;
    background-color: white;
    padding: 8px 25px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
}


a:link {
    text-decoration: none;
  }

  .items{
    width: 80%;
    margin: 5rem auto 5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

  
  .flights-area {
    width:70%;
    margin: 5rem auto 5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flightTitle{
    margin-left: 14rem;
    font-size: 25px;
    }

  .flight-block {
    width: 15rem;
    height: 25rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.star{
    color:yellow;
}

.title{
    color:#175fdb;
    text-align: center;
    margin-top: 0%;
    font-size: 30px;
}