div.regWrapper{
    align-self: center;
    grid-row-gap: 20px;
    display: grid;
    max-width: 10rem;
    margin: 5rem auto;
}

input {
    border-width: 0 0 2px;
    padding: 10px;
}

h2 {
    text-align: center;
    color: #175fdb
}

.btn{
    margin-left: 15%;
    background-color:#175fdb;
    border: 1px solid #175fdb;
    border-radius: 3px;
    padding: 8px;
    color:white;
    width: 70%;
}

