.modalContainer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #00000077;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    width: 400px;
    height: 300px;
    background-color: white;
  }
  